.team-subtitle{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.team-text{

    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px; 
    padding: 0 0 5px 5px

}